.app-wrap .layout-wrap {
  height: calc(100vh - 48px);
  background: #e5e5e5;
  display: flex;
}
.app-wrap .content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.header-wrap {
  box-shadow: inset 0px -1px 0px #f0f0f0;
  padding: 13px;
}
.header-wrap .ant-breadcrumb ol {
  line-height: 22px;
  justify-content: center;
}
